{% extends 'base.html' %}
{% load xendor_tags i18n %}

{% block content %}
	<h1>{{ object|safe }}</h1>

    {{ news.text|safe }}
    {% if news.photo_set.all %}
        <div class="lpanel " style="padding: 10px; padding-bottom: 0">
            <h2>{% trans 'Фотогалерея' %}</h2>

            <div class="row">
                {% for img in news.photo_set.all %}
                    <div class="col-sm-4">
                        <a href="{{ img.image|xthumbnail:'1600;1200' }}" class="fancybox" rel="news-gallery" title="{{ img.title }}">
                            <img src="{{ img.image|xthumbnail:'175;175;fix' }}" alt="" style="width: 100%;"/>
                        </a>
                        <div class="gap-20"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="gap-20"></div>

{% endblock %}