{% load xendor_tags news_tags i18n %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                {% fragment 'Нижнее меню' %}
            </div>
            <div class="col-xs-6">
                {% news_last as news %}
                <ul class="list-unstyled footer-menu-news">

                {% for item in news %}
                    <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
                </ul>
                <a href="{% url 'news-index' %}" class="pull-right footer-all-news">{% trans 'Все новости' %} &rarr;</a>


            </div>
            <div class="col-xs-6">
                {% news_response2 as responses %}
                <ul class="list-unstyled footer-menu-news">

                {% for item in responses %}
                    <li>{{ item.title }}</li>
                {% endfor %}
                </ul>
                <a href="{% url 'response-index' %}" class="pull-right footer-all-news">{% trans 'Все отзывы' %} &rarr;</a>



            </div>
            <div class="col-xs-6">
                {% fragment 'Адрес в футере' %}
            </div>
        </div>
        <div class="gap-30"></div>
        <div class="gap-10"></div>
        <div class="row">
            <div class="col-xs-8" style="padding-left: 50px;">
                {% fragment 'Счетчик' %}

            </div>
            <div class="col-xs-8">
                <div class="social text-center">
{#                    Мы в соц. сетях:#}
                    <a href="{% fragment 'Ссылка на facebook.com' %}"><span class="el-icon-facebook" aria-hidden="true"></span></a>
                    <a href="{% fragment 'Ссылка на vk.com' %}"><span class="el-icon-vkontakte" aria-hidden="true"></span></a>
                    <a href="{% fragment 'Ссылка на twitter.com' %}"><span class="el-icon-twitter" aria-hidden="true"></span></a>
                </div>
            </div>
            <div class="col-xs-8">
{#                <a href="http://sociogenetics.ru" class="pull-right">#}
{#                    <img src="{{ STATIC_URL }}img/dev-white.png" alt="Разработка сайта" style="margin-top: -2px;"/>#}
{#                </a>#}
            </div>
        </div>

    </div>
</footer>