{% load xendor_tags catalog_tags i18n %}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

<header>
    <div class="container">
        <div class="logo">
            <a href="/{{ LANGUAGE_CODE }}/">
                <img src="{{ STATIC_URL }}img/logo.png" alt=""/>
            </a>

            <ul class="languages">
                {% for lang_code, lang_name in languages %}
                    <li {% if lang_code == LANGUAGE_CODE %}class="active"{% endif %}>
                        {% lang_selector lang_code as lang_selector_url %}
                        <a href="{{ lang_selector_url }}"><img src="{{ STATIC_URL }}img/flag_{{ lang_code }}.png" alt="{{ lang_name }}"/></a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% fragment 'Блок телефонов' %}

        <nav>{% menu "parent=MAIN" %}</nav>
    </div>


    <div class="toolbar">
        <div class="container">
            <a href="{% url 'catalog-post-object' %}" class="btn btn-danger pull-left">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                {% trans 'Разместить объявление' %}</a>

            <div class="social">
                <span class="phone">
{#                    Мы в соц. сетях:#}
                    </span>
                <a href="{% fragment 'Ссылка на facebook.com' %}"><span class="el-icon-facebook" aria-hidden="true"></span></a>
                <a href="{% fragment 'Ссылка на vk.com' %}"><span class="el-icon-vkontakte" aria-hidden="true"></span></a>
                <a href="{% fragment 'Ссылка на twitter.com' %}"><span class="el-icon-twitter" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</header>

