{% load xendor_tags %}

<meta charset="utf-8" />
<title>{% metatitle %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% metadescription %}">
<meta name="keywords" content="{% keywords %}">
<meta name="author" content="sociogenetics.ru">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<link href="{{ STATIC_URL }}css/ie.css" rel="stylesheet" type="text/css" />
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="{{ STATIC_URL }}ico.png">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/elusive-webfont.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/typography.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/structure.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/elements.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/multi-select.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

{#<link href="http://webfonts.ru/import/bebasneue.css" rel="stylesheet" type="text/css" />#}
{#<link href="http://webfonts.ru/import/clearsans.css" rel="stylesheet" type="text/css" />#}
{#<link href="http://webfonts.ru/import/fira.css" rel="stylesheet" type="text/css" />#}
{#<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>#}
{#<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}

{#<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>#}
<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAPnS80nlhZtCpvvUMWGvY8LPSnLIN28w&sensor=true"></script>

<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

