<script src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/fancybox/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

<script src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script src="{{ STATIC_URL }}js/jquery.multi-select.js"></script>
<script src="{{ STATIC_URL }}js/perfect-scrollbar.jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/project.js"></script>
