{% load xendor_tags %}
<!-- ymaps.geocode('{% get_setting 'Адрес для яндекс-карт' %}', { results: 1 }).then(function (res) { -->

<script type="text/javascript">
	function initialize() {
  		var latlang = new google.maps.LatLng({{item.lat}}, {{item.lng}});
  		
  		var mapOptions = {
	      center: latlang,
	      zoom: 13
	    };
	    
	    var map = new google.maps.Map(document.getElementById("map-canvas"),
	        mapOptions);  
	        
	     // var image = 'images/image.png';  //можно вместо красного пузырика сделать флажок или котенка
	     var marker = new google.maps.Marker({
		      position: latlang,
		      map: map,
		      title: ''
		      //icon: image
		  });
	};
	  
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="lpanel" style="padding: 0;">
    <div id="map-canvas" style="height: 250px; width: 100%;"></div>	
</div>