{% extends 'catalog/index.html' %}
{% load xendor_tags catalog_tags i18n %}


{% block title %}
	<h1>{{ city }}. {% trans 'Продажа' %}.</h1>
{% endblock %}


{% block submenu %}
    <div class="lpanel submenu" style="padding: 10px;">

        <a href="{% url 'catalog-objects-by-city' city.slug %}" class="btn btn-primary" style="width: 100%;"> {% trans 'Все объекты' %} {% xicon 'arrow-right' %}</a>
        <div class="gap-10"></div>
        <a href="{% url 'catalog-rent-by-city' city.slug %}" class="special-link"> {% xicon 'star' %} {{ city }}. {% trans 'Аренда' %}.</a>
        <div class="gap-20"></div>

        <h2>{% trans 'Районы' %}</h2>
        <ul class="list-unstyled article-widget">
            {% for region in city.get_regions %}
                <li><a href="{{ region.get_absolute_url }}">{{ region.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="gap-20"></div>

{% endblock %}