{% extends 'catalog/index.html' %}
{% load xendor_tags catalog_tags i18n %}


{% block title %}<h1>{{ object }}</h1>{% endblock %}

{% block center %}

    {% if object.image %}
    <img src="{{ object.image|xthumbnail:'250;150;fix' }}" alt="" style="float: left; padding-right: 20px;"/>
    {% endif %}
    {{ object.description|safe }}

    <a href="{% url 'catalog-objects-by-city' object.slug %}"
       class="btn btn-primary pull-right">{% trans 'Смотреть все объекты' %} "{{ object }}"</a>
    <br class="clear"/>
    <div class="gap-20"></div>

    <div class="lpanel " style="padding: 10px; padding-bottom: 0">
        <h2>{% trans 'Фотогалерея' %}</h2>

        <div class="row">
            {% for image in object.cityimage_set.all %}
                <div class="col-xs-6">
                    <a href="{{ image.image|xthumbnail:'1600;1200;fix' }}" rel="city-gallery" title="{{ image.title }}" class="fancybox">
                        <img src="{{ image.image|xthumbnail:'160;160;fix' }}" alt="" style="width: 100%;"/>
                    </a>
                    <div class="gap-20"></div>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block submenu %}
    <div class="lpanel submenu" style="padding: 10px;">
        <a href="{% url 'catalog-sale-by-city' object.slug %}" class="btn btn-primary" style="width: 100%;">
             {% trans 'Продажа' %} {% xicon 'arrow-right' %}
        </a>
        <div class="gap-10"></div>
        <a href="{% url 'catalog-rent-by-city' object.slug  %}" class="btn btn-primary" style="width: 100%;">
             {% trans 'Аренда' %} {% xicon 'arrow-right' %}
        </a>
        <div class="gap-20"></div>

        <h2>{% trans 'Районы' %}</h2>
        <ul class="list-unstyled article-widget">
            {% for region in object.get_regions %}
                <li><a href="{{ region.get_absolute_url }}">{{ region.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="gap-20"></div>

{% endblock %}