{% extends 'home.html' %}
{% load catalog_tags xendor_tags i18n %}



{% block center %}
    {{ page.content|safe }}

	{% include 'catalog/include/list.html' %}
{% endblock %}

{% block right %}
    {% block submenu %}
        <div class="lpanel" style="padding: 10px;">
            <a href="{% url 'catalog-sale' %}" class="btn btn-primary" style="width: 100%;">
                 {% trans 'Продажа' %} {% xicon 'arrow-right' %}
            </a>
            <div class="gap-10"></div>
            <a href="{% url 'catalog-rent' %}" class="btn btn-primary" style="width: 100%;">
                 {% trans 'Аренда' %} {% xicon 'arrow-right' %}
            </a>
        </div>
        <div class="gap-20"></div>
    {% endblock %}

    {{ block.super }}
{% endblock %}