{% extends 'base.html' %}
{% load xendor_tags catalog_tags article_tags i18n %}

{% block content %}

    {% with object as item %}
        <div class="row">
            <div class="col-xs-5">
                <div class="lpanel" style="padding: 10px;">
                    {#<a href="" class="btn btn-primary" style="width: 100%;">&larr; Назад</a>#}
                    {#<div class="gap-10"></div>#}
                    <a href="{% url 'catalog-sale' %}" class="btn btn-default" style="width: 100%;">{% xicon 'arrow-left' %} {% trans 'Продажа' %}</a>
                    <div class="gap-10"></div>
                    <a href="{% url 'catalog-rent' %}" class="btn btn-default" style="width: 100%;">{% xicon 'arrow-left' %} {% trans 'Аренда' %}</a>
                </div>
                <div class="gap-20"></div>

                <div style="padding: 0px 10px;">
                    {% block filter %}
                        {% include 'catalog/include/search.html' %}
                        <div class="gap-20"></div>

{#                        {% include 'catalog/include/filter.html' %}#}
                    {% endblock %}
                </div>

{#                {% article_side %}#}

                <div class="row banner">
                    <div class="col-xs-24">
                        {% fragment 'Баннер' %}
                    </div>
                </div>
            </div>
            <div class="col-xs-19">
                <h1><span class="codename">id: {{ item.codename }}</span> {{ object }}</h1>

                <div class="lpanel" style="padding: 10px;">
                    <div class="row">
                        <div class="col-xs-20" style="position: relative;">
                            <a href="{{ item.image|xthumbnail:'1600;1200;wtm' }}"
                               class="fancybox"
                               rel="object-gallery"
                               title="{{ item.title }}">
                                <img src="{{ item.image|xthumbnail:'776;471;fix' }}" alt="" style="width: 100%" id="main-image"/>
                            </a>
                            <a href="#" class="gallery-control left">{% xicon 'circle-arrow-left' %}</a>
                            <a href="#" class="gallery-control right">{% xicon 'circle-arrow-right' %}</a>
                        </div>
                        <div class="col-xs-4" style="padding-left: 0;">
                            <div class="image-gallery" style="">

                                <a href="{{ item.image|xthumbnail:'1600;1200;wtm' }}"
                                   class="active"
                                   title="{{ item.title }}"
                                   rel="object-gallery"
                                   data-image="{{ item.image|xthumbnail:'776;471;fix' }}"
                                   data-title="{{ item.title }}"
                                   data-href="{{ item.image|xthumbnail:'1600;1200;wtm' }}"
                                        >
                                    <img src="{{ item.image|xthumbnail:'150;150;fix' }}" alt="{{ item.name }}" style="width: 100%;"/>
                                </a>

                                {% for image in item.itemimage_set.all %}

                                    <a href="{{ image.image|xthumbnail:'1600;1200;wtm' }}"
                                       title="{{ image.title }}"
                                       class="fancybox"
                                       rel="object-gallery"
                                       data-image="{{ image.image|xthumbnail:'776;471;fix' }}"
                                       data-title="{{ image.title }}"
                                       data-href="{{ image.image|xthumbnail:'1600;1200;wtm' }}"
                                            >
                                        <img src="{{ image.image|xthumbnail:'150;150;fix' }}" alt="{{ image.title }}" style="width: 100%;"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gap-20"></div>

                <div class="row">
                    <div class="col-xs-14">
                        <div class="lpanel" style="padding: 15px;">
                            {{ object.description|safe }}

                            <div class="gap-20"></div>
                            <h2>{% trans 'Отправить заявку' %}</h2>

                            {% include 'catalog/include/form.html' %}
                        </div>


                    </div>
                    <div class="col-xs-10">

                        {% if item.lat and item.lng %}
                            {% include 'catalog/_map.html' %}
                            <div class="gap-20"></div>
                        {% endif %}

                        <div class="lpanel" style="padding: 15px;">
                            <h3 class="pull-left" style="margin-top: 0; margin-bottom: 0;font-size: 18px;">{{ item.type }}</h3>

                            <div class="price pull-right">
                                {% if not item.deal == 'rent' %}
                                    <div class="money">
                                        {% if item.price_sale_discount %}
                                            <i class="el-icon-eur"></i>&nbsp;{{ item.price_sale_discount|x1000 }}
                                            <del>{{ item.price_sale|x1000 }}</del>
                                        {% else %}
                                            <i class="el-icon-eur"></i>&nbsp;{{ item.price_sale|x1000 }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if not item.deal == 'sale' %}
                                    <div class="money">
                                        <i class="el-icon-eur"></i>
                                        {% if item.price_rent_discount %}
                                            {{ item.price_rent_discount|x1000 }}
                                            <del>{{ item.price_rent|x1000 }}</del>
                                        {% else %}
                                            {{ item.price_rent|x1000 }}
                                        {% endif %}
                                        <span>
                                        {% if item.rent_time == 'month' %}/&nbsp;{% trans 'месяц' %}{% elif item.rent_time == 'day' %}/&nbsp;{% trans 'сутки' %}{% else %}/&nbsp;{% trans 'неделя' %}{% endif %}
                                    </span>
                                    </div>
                                {% endif %}
                            </div>


                            <div class="gap-20"></div>

                            <table width="100%" class="table table-bordered" style="margin-bottom: 0;">
                                <tr>
                                    <th>{% trans 'ID объекта' %}:</th>
                                    <td colspan="3">
                                        {{ item.codename }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{% trans 'Расположение' %}:</th>
                                    <td colspan="3">
                                        <a href="{{ item.region.city.get_absolute_url}}">{{item.region.city}}</a>
                                        /
                                        <a href="{{ item.region.get_absolute_url}}">{{ item.region.name }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{% trans 'Спальни/ванны' %}:</th>
                                    <td>{{ item.get_sleeping_room }} / {{ item.bath_room }}</td>
                                </tr>

                                {% if item.square_all %}
                                    <tr>
                                        <th>{% trans 'Общая площадь' %}:</th>
                                        <td>
                                            {{ item.square_all|x1000 }} М<sup>2</sup>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if item.square_live %}
                                    <tr>
                                        <th>{% trans 'Жилая площадь' %}:</th>
                                        <td>
                                            {{ item.square_live|x1000 }} М<sup>2</sup>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if item.square %}
                                    <tr>
                                        <th>{% trans 'Площадь земли' %}:</th>
                                        <td>
                                            {{ item.square|x1000 }} М<sup>2</sup>
                                        </td>
                                    </tr>
                                {% endif %}

{#                                <tr>#}
{#                                    <th>#}
{#                                        Обновленно#}
{#                                    </th>#}
{#                                    <td>#}
{#                                        {{ item.updated|date:'d E Y' }}#}
{#                                    </td>#}
{#                                </tr>#}
                            </table>
                            <div class="gap-10"></div>

{#                            {% for category in item.get_property %}#}
{#                                <h3>{{ category.0 }}</h3>#}
{#                                <table width="100%" class="table table-bordered" style="margin-bottom: 0;">#}
{#                                    {% for tag in category.1 %}#}
{#                                        <tr>#}
{#                                            <th>{{ tag.tag.name }}</th>#}
{#                                            <td>{{ tag.get_value }}</td>#}
{#                                        </tr>#}
{#                                    {% endfor %}#}
{#                                </table>#}
{#                                <div class="gap-10"></div>#}
{#                            {% endfor %}#}

                            {% for category in item.get_tags %}
                                <h3>{{ category.0 }}</h3>
                                <table width="100%" class="table table-bordered" style="margin-bottom: 0;">
                                    {% for tag in category.1 %}
                                        <tr>
                                            <th>{{ tag.name }}</th>
                                            <td>{{ tag.object_value }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div class="gap-10"></div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endwith %}

<div class="gap-20"></div>
{% endblock %}

{% block js %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('.image-gallery').perfectScrollbar();

            var checkThumb = function(target, targetData){
                $('.image-gallery a').removeClass('active')
                target.addClass('active')
                $('#main-image').attr('src', targetData['image'])
                $('#main-image').parent().attr('title', targetData['title'])
                $('#main-image').parent().attr('href', targetData['href'])

                console.log(target.prevAll().length)
                $('.image-gallery').scrollTop(target.prevAll().length * 149)
                $('.image-gallery').perfectScrollbar('update');
            }

            $('.image-gallery a').click(function(){
                checkThumb($(this), $(this).data())
                return false;
            })

            $('.gallery-control').click(function(){
                var activeThumb = $('.image-gallery a.active')
                if($(this).hasClass('left')){
                    if(activeThumb.prev().length == 1){
                        checkThumb(activeThumb.prev(), activeThumb.prev().data())
                    }else{
                        checkThumb($($('.image-gallery a')[$('.image-gallery a').length - 1]), $($('.image-gallery a')[$('.image-gallery a').length - 1]).data())
                    }
                }else{
                    if(activeThumb.next().length == 1 && activeThumb.next().hasClass('fancybox')){
                        checkThumb(activeThumb.next(), activeThumb.next().data())
                    }else{
                        checkThumb($($('.image-gallery a')[0]), $($('.image-gallery a')[0]).data())
                    }
                }

                return false;
            })
            return true;
        });
    </script>
{% endblock %}