{% extends 'base.html' %}
{% load xendor_tags bootstrap3 i18n %}


{% block content %}

    <div class="row">
        <div class="col-xs-24">
            <h1>{{ page.title }}</h1>

            {{ page.content|safe }}

            <form  action="{% url 'catalog-post-object-images' %}"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-24">

                        <div class="lpanel" style="padding: 10px;">
                            <h2>{% trans 'Изображения' %} <small>{% trans 'кликните по области внутри рамки или перетащите в нее картинки' %}</small></h2>
                            <div class="dropzone" id="my-awesome-dropzone"></div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24">

                    </div>
                </div>
                <hr/>
                <input type="submit" class="btn btn-primary" value="{% trans 'Завершить добавление объекта' %}">
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/dropzone.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            Dropzone.options.myAwesomeDropzone = {
              url: '{% url 'catalog-post-object-process-image' %}',
              paramName: "file", // The name that will be used to transfer the file
              maxFilesize: 2, // MB
{#              addRemoveLinks: true,#}
              acceptedFiles: 'image/*',
{#              autoProcessQueue: false,#}
{#              maxFiles: 10,#}
              init: function() {
                this.on("addedfile", function(file) { console.log(file) });
              }
            };

            return true;
        });
    </script>
{% endblock %}