{% extends 'base.html' %}
{% load xendor_tags bootstrap3 i18n %}

{% block content %}
    <div class="row">
        <div class="col-xs-24">
            <h1>{{ page.title }}</h1>

            {{ page.content|safe }}

            <form  action="{% url 'catalog-post-object' %}"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lpanel" style="padding: 10px;">
                            <h2>{% trans 'Общая информация' %}</h2>
                            {{ form.errors }}

                            {% bootstrap_field form.description %}

                            {% bootstrap_field form.deal %}

                            {% bootstrap_field form.price %}

                            {% bootstrap_field form.square_live %}

                            {% bootstrap_field form.square_all %}
                            {% bootstrap_field form.square %}
                            {% bootstrap_field form.region %}
                            {% bootstrap_field form.type %}
                            {% bootstrap_field form.title %}
                            {% bootstrap_field form.sleeping_room %}
                            {% bootstrap_field form.bath_room %}

                        </div>

                        <div class="gap-20"></div>
                        <div class="lpanel" style="padding: 10px;">
                            <h2>{% trans 'Данные продавца' %}</h2>
                            {% bootstrap_field form.person %}
                            {% bootstrap_field form.mail %}
                            {% bootstrap_field form.phone %}
                            {% bootstrap_field form.captcha %}
                        </div>
                    </div>

                    <div class="col-xs-12 form-horizontal">
                        <div class="lpanel" style="padding: 10px;">
                            <h2>{% trans 'Характеристики объекта' %}</h2>

                            {% for tag_category in tag_categories %}
                            <h3 class="pull-right">{{ tag_category }}</h3>
                            <br class="clear"/>
                            {% for tag in tag_category.tag_set.all %}
                                <div class="form-group">
                                    <label class="col-xs-8 control-label">{{ tag.name }}</label>
                                    <div class="col-xs-16">
                                        <input type="text" class="form-control" name="tag_{{ tag.pk }}" placeholder="{% trans 'Введите свое значение' %}">
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24">

                    </div>
                </div>
                <hr/>
                <input type="submit" class="btn btn-primary" value="{% trans 'Сохранить и перейти к добавлению изображений' %}">
            </form>
        </div>
    </div>

{% endblock %}
