{% extends 'base_print.html' %}
{% load xendor_tags catalog_tags %}

{% block subtitle %}
	<div class="gap-30"></div>
	<span class="pull-right label label-lg label-codename label-price" style="margin-top: -10px">ID: {{object.codename}}</span>
{% endblock %}

{% block title %}
<h1>
	{{ object }}
</h1>
<center>
	{% fragment 'телефон' %} | {% fragment 'ссылка на сайт' %}
</center>
{% endblock %}

{% block content %}
    {% with object as item %}
    <div class="row catalog">
        <div class="col-sm-6">
            <span class="thumbnail fancybox" rel="1">
                <img src="{{ item.image|xthumbnail:'1000;600;fix' }}" alt="" style="width: 100%"/>
            </span>
            <div class="text-center well well-sm" style="background: white; border-top: none;">
	            {% if not item.deal == 'rent' %}
		            <div class="money">
		            	{% if item.price_sale_discount %}
		            	   {% xicon 'euro' %}&nbsp;{{item.price_sale_discount|x1000}}
		            	   <strike>{{item.price_sale|x1000}}</strike>
		            	{% else %}
		            	   {% xicon 'euro' %}&nbsp;{{item.price_sale|x1000}}
		            	{% endif %}
		            </div>
	            {% endif %}
	            {% if not item.deal == 'sale' %}
		            <div class="money">
		            	{% xicon 'euro' %}
		            	{% if item.price_rent_discount %}
		            	   {{item.price_rent_discount|x1000}}
		            	   <strike>{{item.price_rent|x1000}}</strike>
		            	{% else %}
		            	   {{item.price_rent|x1000}}
		            	{% endif %}
		            	<span>
		            		{% if item.rent_time == 'month' %}/&nbsp;месяц{% else %}/&nbsp;неделя{% endif %}
		            	</span>
		            </div>
	            {% endif %}
            </div>
        </div>
        <div class="col-sm-18">
        	 <table width="100%" class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Расположение:</th>
                    <td colspan="3">{{item.city}}</td>
                </tr>
                <tr>
                    <th>Тип недвижимости:</th>
                    <td>{{item.type}}</td>
                    <th>Комплекс:</th>
                    <td>
                    	{% if item.complex %}
                    		{{item.complex}}
                    	{% else %}
                    		–
                    	{% endif %}
                    </td>
                </tr>
                <tr>
                	<th>Количество спален/ванн:</th>
                    <td>{{item.sleeping_room}}/{{item.bath_room}}</td>
                    <th>Общая площадь:</th>
                    <td>
                    	{% if item.square_all %}
                    		{{item.square_all|x1000}} М<sup>2</sup>
                    	{% else %}
                    		–
                    	{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Площадь земли:</th>
                    <td>
                    	{% if item.square %}
                    		{{item.square|x1000}} М<sup>2</sup>
                    	{% else %}
                    		уточняйте
                    	{% endif %}
                    </td>
                    <th>Жилая площадь:</th>
                    <td>
                    	{% if item.square_live %}
                    		{{item.square_live|x1000}} М<sup>2</sup>
                    	{% else %}
                    		–
                    	{% endif %}
                    </td>
                </tr>
            	<tr>
            	{% for tag in item.objectproperty_set.all %}
            			<th>{{tag.tag.name}}</th>
            			<td>{{tag.value}}</td>
            		{% if forloop.counter|divisibleby:2 %}
            		</tr>
            		<tr>
            		{% endif %}
            	{% endfor %}
            	</tr>
            	<tr>
            		<th>
            			Обновленно
            		</th>
            		<td>
            			{{item.updated}}
            		</td>
            	</tr>
            </table>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-18" style="padding-right: 50px">
        	<div class="gap-5"></div>
            {{object.description|safe}}
            <div class="gap-5"></div>
            <a href="mailto:{% get_setting 'E-mail администратора' %}" class="btn btn-success btn-sm">{% xicon 'envelope' %} Отправить запрос</a>
        </div>
    </div>
	{% if item.itemimage_set.all|length > 0 %}
	<div class="gap-20"></div>
	<div class="row">
		{% for image in item.itemimage_set.all %}
		    <div class="col-md-4 col-xs-8">
		    	<span class="thumbnail">
		    		<img src="{{image.image|xthumbnail:'500;500;fix'}}" alt="{{image.title}}"/>
		    	</span>
		    </div>
		    {% if forloop.counter|divisibleby:6 %}
		    	</div><div class="row">
		    {% endif %}
		{% endfor %}
	</div>
	{% endif %}
    
    {% endwith %}
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		window.print();
		return true;
	});
</script>
{% endblock %}
