{% extends 'catalog/index.html' %}
{% load xendor_tags catalog_tags i18n %}


{% block title %}
	<h1>{{ object.name }}. {% trans 'Все объекты' %}.</h1>
    {{ object.description|default:''|safe }}
{% endblock %}


{% block submenu %}
    <div class="lpanel submenu" style="padding: 10px;">
        <a href="{% url 'catalog-rent-by-region' object.slug %}" class="special-link"> {% xicon 'star' %} {{ object.name }}. {% trans 'Аренда' %}.</a>
        <div class="gap-10"></div>
        <a href="{% url 'catalog-sale-by-region' object.slug %}" class="special-link"> {% xicon 'star' %} {{ object.name }}. {% trans 'Продажа' %}.</a>
        <div class="gap-20"></div>

        <h2>{% trans 'Районы' %}</h2>
        <ul class="list-unstyled article-widget">
            {% for region in object.city.get_regions %}
                <li {% if object == region %}class="active"{% endif %}><a href="{{ region.get_absolute_url }}">{{ region.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="gap-20"></div>

{% endblock %}