{% extends 'catalog/index.html' %}
{% load xendor_tags catalog_tags i18n %}

{% block title %}
    <h1>{% trans 'Аренда недвижимости' %}</h1>
{% endblock %}

{% block submenu %}
    <div class="lpanel submenu" style="padding: 10px;">
        <a href="{% url 'catalog-sale' %}" class="btn btn-primary" style="width: 100%;">
             {% trans 'Продажа' %} {% xicon 'arrow-right' %}
        </a>
        <div class="gap-10"></div>
        <a href="{% url 'catalog-special-rent' %}" class="special-link"> {% xicon 'star' %} {% trans 'Специальные предложения аренды' %}</a>
    </div>
    <div class="gap-20"></div>
{% endblock %}