{% extends 'catalog/index.html' %}
{% load xendor_tags catalog_tags i18n %}


{% block title %}
	<h1>{% trans 'Продажа недвижимости' %}</h1>
{% endblock %}

{% block submenu %}
    <div class="lpanel submenu" style="padding: 10px;">
        <a href="{% url 'catalog-rent' %}" class="btn btn-primary" style="width: 100%;">
             {% trans 'Аренда' %} {% xicon 'arrow-right' %}
        </a>
        <div class="gap-10"></div>
        <a href="{% url 'catalog-special-sale' %}" class="special-link"> {% xicon 'star' %} {% trans 'Специальные предложения продажи' %}</a>
    </div>
    <div class="gap-20"></div>
{% endblock %}