{% extends 'catalog/index.html' %}
{% load xendor_tags catalog_tags i18n %}


{% block title %}
	<h1>{{ object }}. {% trans 'Все объекты' %}.</h1>
    {{ object.description|safe }}
{% endblock %}

{% block submenu %}
    <div class="lpanel submenu" style="padding: 10px;">

        <a href="{% url 'catalog-sale-by-type' object.slug %}" class="special-link"> {% xicon 'star' %} {{ object }} {% trans 'продажа' %}</a>
        <div class="gap-10"></div>
        <a href="{% url 'catalog-rent-by-type' object.slug %}" class="special-link"> {% xicon 'star' %} {{ object }} {% trans 'аренда' %}</a>
    </div>
    <div class="gap-20"></div>

{% endblock %}