<?xml version="1.0" encoding="utf-8"?>
{% load xendor_tags %}

<estateExport>
    <fileModTime>{{ now }}</fileModTime>
    <types>
        {% for type in types %}
            <type id="{{ type.pk }}">{{ type.name }}</type>
        {% endfor %}
    </types>

    <offers>
        {% for item in items %}
            <offer id="{{ item.codename }}" type_id="{{ item.type.pk }}">
                <edited_on>{{ item.updated|date:'U' }}</edited_on>
                <country>Турция</country>
                <region>{{ item.region.name }}</region>
                <city>{{ item.region.city }}</city>
                <currency>EUR</currency>
                <price>{{ item.get_price }}</price>
                <category>new</category>
                <size>{{ item.square_all }}</size>
                <land_size>{{ item.square }}</land_size>
                {% if item.get_sea_distance %}
                    <sea_distance>{{ item.get_sea_distance }}</sea_distance>
                {% endif %}
                <bedrooms>{{ item.get_sleeping_room }}</bedrooms>
                <bathrooms>{{ item.bath_room }}</bathrooms>
                <offer_intro_description>{{ item.short_description }}</offer_intro_description>
                <offer_description>
                    <![CDATA[
                        {{ item.description|safe }}
                    ]]>
                </offer_description>
                <pictures>
                    {% if item.image %}
                        <pic>http://bravoinvest.ru{{ item.image|xthumbnail:'1600;1200;wtm' }}</pic>
                    {% endif %}
                    {% for img in item.itemimage_set.all %}
                        <pic>http://bravoinvest.ru{{ img.image|xthumbnail:'1600;1200;wtm' }}</pic>
                    {% endfor %}

                </pictures>
            </offer>
        {% endfor %}
    </offers>
</estateExport>