{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="grp-object-tools">
                {% block object-tools-items %}
                    <li><a href="upload/">Загрузка фотографий</a></li>

                    <li><a href="history/">{% trans "History" %}</a></li>

                    {% if has_absolute_url %}
                        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/">{% trans "View on site" %}</a></li>
                    {% endif%}
                {% endblock %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}