{% extends 'base.html' %}
{% load contacts_tags xendor_tags bootstrap3 i18n %}

{% block content %}

    <div class="row">

        <div class="col-xs-24">
            <h1>{{ page.title }}</h1>
            {{ page.content|default:''|safe }}
            
            <h2 class="hidden">{% trans 'Схема проезда' %}</h2>
    		{# contacts_map #}
    		<a name="form"></a>
    		<div class="gap-10"></div>

    		<div class="lpanel" style="padding: 10px;">
    			{% if messages %}
		            <div class="message-block alert alert-success">
		                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		
		                <h3>{% trans 'Информационное сообщение' %}!</h3>
		                
		                <ul class="list-unstyled">
		                    {% for message in messages %}
		                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
		                    {% endfor %}
		                </ul>
		            </div>
		        {% endif %}
    			<form action="{% url 'contacts-index' %}#form" method="POST" accept-charset="utf-8">
    				{% csrf_token %}
    				{% bootstrap_form form %}	
    				
    				<input type="submit" value="{% trans 'Отправить' %}" class="btn btn-success btn-lg pull-right" />
    				<br class="clear" />
    			</form>
    		</div>
    		<div class="gap-20"></div>
        </div>
    </div>
{% endblock %}
