<!DOCTYPE html>
<html lang="ru">
	{% load xendor_tags %}
	<head>
		{% include 'include/head.html' %}
	</head>
	<body>
		<div class="gap-20"></div>
		<header>
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6 col-xs-8">
		                <div class="logo">
	                        M.C.Marketing
	                        <div class="small">
	                        	Испания. Тенерифе
	                        </div>
		                </div>
		                {% block subtitle %}{% endblock %}
		            </div>
		            <div class="col-sm-18 col-xs-16">
		               {% block title %}{% endblock %}
		            </div>
		        </div>
		    </div>
		</header>
		<div class="gap-20"></div>
		<div class="container">
			<div class="col-xs-24">
				{% block content %}{% endblock %}
				
				<div class="gap-20"></div>
				<center>
					{% fragment 'телефон' %} | {% fragment 'ссылка на сайт' %}
				</center>
			</div>
		</div>
		
		{% include 'include/js.html' %}
		{% block js %}{% endblock %}
	</body>
</html>

        