<!DOCTYPE html>
<html lang="ru">
	{% load xendor_tags %}
	<head>
		{% include 'include/head.html' %}
	</head>
	<body>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = 'dR4o4NQKh7';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
    <!-- {/literal} END JIVOSITE CODE -->

        {% include 'include/header.html' %}

        <div class="container">
            <div class="gap-20"></div>
            <div class="gap-20"></div>

            {% breadcrumbs %}

            {% block content %}{% endblock %}
        </div>

		{% include 'include/js.html' %}
        {% block js %}{% endblock %}


        {% include 'include/footer.html' %}
	</body>
</html>

        