{% extends 'base.html' %}
{% load xendor_tags catalog_tags news_tags article_tags i18n %}

{% block content %}

        <div class="row">
            <div class="col-xs-5">
                <div style="padding: 0px 10px;">
                    {% block filter %}
                        {% include 'catalog/include/search.html' %}
                        <div class="gap-20"></div>

                        {% include 'catalog/include/filter.html' %}
                    {% endblock %}
                </div>
            </div>

            <div class="col-xs-15">
                {% block title %}<h1 class="">{{ page.title|safe }}</h1>{% endblock %}

                {% block center %}

                    {{ page.content|safe }}
{#                    {% catalog_promo %}#}
                    <hr/>

                    {% fragment 'Центральные триггеры' %}

                    {% catalog_last_sale as sales %}
                    {% if sales %}
                        <h2>{% trans 'Новые предложения продажи недвижимости' %}
                            <a href="{% url 'catalog-sale' %}" class="main-header">{% trans 'все предложения' %} &rarr;</a></h2>
                        <div class="row market">
                            {% for item in sales %}
                                {% include 'catalog/include/micro.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="gap-30"></div>

                    {% catalog_last_rent as rents %}
                    {% if rents %}
                        <h2>{% trans 'Новые предложения аренды недвижимости' %}
                            <a href="{% url 'catalog-rent' %}" class="main-header">{% trans 'все предложения' %} &rarr;</a></h2>
                        <div class="row market">
                            {% for item in rents %}
                                {% include 'catalog/include/micro.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="gap-30"></div>

                    {% catalog_spec_sale as specsales %}
                    {% if specsales %}
                        <h2>{% trans 'Спецпредложения продажи недвижимости' %}
                            <a href="{% url 'catalog-special-sale' %}" class="main-header">{% trans 'все предложения' %} &rarr;</a></h2>
                        <div class="row market">
                            {% catalog_spec_sale as specsales %}
                            {% for item in specsales %}
                                {% include 'catalog/include/micro.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="gap-30"></div>

                    {% catalog_spec_rent as specrents %}
                    {% if specrents %}
                        <h2>{% trans 'Спецпредложения аренды недвижимости' %}
                            <a href="{% url 'catalog-special-rent' %}" class="main-header">{% trans 'все предложения' %} &rarr;</a></h2>
                        <div class="row market">
                            {% for item in specrents %}
                                {% include 'catalog/include/micro.html' %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="gap-20"></div>
                {% endblock %}
            </div>

            <div class="col-xs-4">
                {% block right %}
                    {% article_side %}
                    <div class="row banner">
                        <div class="col-xs-24">
                            {% fragment 'Баннер' %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
{% endblock %}

