{% extends 'base.html' %}
{% load xendor_tags %}


{% block content %}

    {% subpages page True as pages %}
    {% if pages|length > 0 %}
        <div class="row">
            <div class="col-xs-6">
                <div class="lpanel" style="padding: 15px;">
                    <ul class="nav nav-pills nav-stacked border">
                        {% for p in pages %}
                            <li {% if p.get_absolute_url == request.get_full_path %}class="active"{% endif %}>
                                <a href="{{ p.get_absolute_url }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="gap-30"></div>
                </div>
            </div>

            <div class="col-xs-18">
                <h1>
                    {{ page.title }}
                </h1>

                <div class="content">
                    {{ page.content|safe }}
                </div>
            </div>
        </div>
{#        <div class="row">#}
{##}
{##}
{#            <div class="col-sm-18">#}
{#                <div class="content">#}
{#                    {{ page.content|safe }}#}
{#                </div>#}
{##}
{#                <div class="gap-10"></div>#}
{#                {% if page.pageimage_set.all %}#}
{#                    <div class="separator"></div>#}
{#                    <div class="row">#}
{#                        {% for img in page.pageimage_set.all %}#}
{#                            <div class="col-xs-12 col-sm-8">#}
{#                                <a href="{{ img.image|xthumbnail:'1920;1080;wtm' }}" class="fancybox thumbnail" rel="1"#}
{#                                   alt="{{ img.title }}">#}
{#                                    <img src="{{ img.image|xthumbnail:'350;350;fix' }}" alt=""/>#}
{#                                </a>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    <div class="separator"></div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
    {% else %}
        <div class="row">

            <div class="col-xs-24">
                <h1>{{ page.title }}</h1>

                {{ page.content|safe }}
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-sm-6 hidden-xs">#}
{#                {% fragment 'Картинка на косъерже' %}#}
{#                <div class="gap-30"></div>#}
{#            </div>#}
{##}
{#            <div class="col-sm-18">#}
{#                {{ page.content|safe }}#}
{##}
{#                <div class="gap-10"></div>#}
{#                {% if page.pageimage_set.all %}#}
{#                    <div class="separator"></div>#}
{#                    <div class="row">#}
{#                        {% for img in page.pageimage_set.all %}#}
{#                            <div class="col-xs-12 col-sm-8">#}
{#                                <a href="{{ img.image|xthumbnail:'1920;1080;wtm' }}" class="fancybox thumbnail" rel="1"#}
{#                                   alt="{{ img.title }}">#}
{#                                    <img src="{{ img.image|xthumbnail:'350;350;fix' }}" alt=""/>#}
{#                                </a>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    <div class="separator"></div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}

    {% endif %}


{% endblock %}