<div class="gap-20"></div>
<div class="row">
    <div class="col-sm-12">
        <h2 class="">Популярные районы Тенерифе</h2>
        <div class="separator"></div>
        <div class="gap-10"></div>
        {% catalog_areas as areas %}
        <div class="row area">
        {% for area in areas %}
        		<div class="col-sm-6 ">
        			<div class="well justify">
            			<h3 class="micro"> 
            				<a href="{{area.get_absolute_url}}">{{area}}</a>
            			</h3>
            			{% if area.image %}
            			<a href="{{area.get_absolute_url}}">
            				<img src="{{area.image|xthumbnail:'150;150;fix'}}" class="pull-left thm"/>
            			</a>
            			{% endif %}
            			{{area.short_description|truncatewords_html:40}}
            			<br class="clear" />
            			<div class="btn-group pull-right to-right">
            				<a href="" class="btn btn-sm btn-primary">{% xicon 'euro' %} Продажа: {{area.get_sale}}</a>
            				<a href="" class="btn btn-sm btn-primary">{% xicon 'home' %} Аренда: {{area.get_arenda}}</a>
            			</div>
        			</div>
        		</div>
        	{% if forloop.counter|divisibleby:2 %}
        		</div>
        		<div class="gap-10"></div>
        		<div class="row area">
        	{% endif %}
        {% endfor %}
        </div>
    </div>
</div>