{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}
	<div class="gap-10"></div>
    {% subpages page True as pages %}
	<div class="row">
		<div class="col-xs-5">
			{% if page.level > 1 and page.parent.in_menu %}
			    <a href="{{page.parent.get_absolute_url}}" class="btn btn-primary">{% xicon 'arrow-left' %}</a>
	        {% endif %}
		</div>
		<div class="col-xs-19">
			<h1>
				{{ page.title }}
			</h1>
		    <div class="separator"></div>
		</div>
	</div>
    <div class="row">
        <div class="col-xs-5">
            <ul class="nav nav-pills nav-stacked border">
                {% for p in pages %}
                    <li {% if p.get_absolute_url == request.get_full_path %}class="active"{% endif %}>
                        <a href="{{p.get_absolute_url}}">{{p}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-19">
        	<div class="content">
        		<small>{{ page.content|safe }}</small>
        		
        		<div class="row">
        			{% for p in pages %}
        				<div class="col-sm-12">
        					<h3><a href="{{p.get_absolute_url}}">{{p}}</a></h3>
        					{{p.content|safe|truncatewords_html:30}}
        				</div>
			        {% endfor %}
        		</div>
        	</div>

			<div class="gap-10"></div>
            {% if page.pageimage_set.all %}
                <div class="separator"></div>
		        <div class="row">
		            {% for img in page.pageimage_set.all %}
		                <div class="col-xs-12 col-sm-4">
		                    <a href="{{ img.image|xthumbnail:'1200;1200' }}" class="fancybox thumbnail" rel="1" alt="{{ img.title }}">
		                        <img src="{{ img.image|xthumbnail:'350;350;fix' }}" alt=""/>
		                    </a>
		                </div>
		            {% endfor %}
		        </div>
		        <div class="separator"></div>
		    {% endif %}                
        </div>
    </div>
{% endblock %}