{% extends 'base.html' %}
{% load xendor_tags %}


{% block title %}{% endblock %}
{% block content %}
    <div class="gap-10"></div>
    {% subpages page True as pages %}
    <div class="row">
        <div class="col-sm-6 col-xs-3">
            {% if page.level > 1 and page.parent.in_menu %}
                <a href="{{ page.parent.get_absolute_url }}" class="btn btn-primary btn-xs">{% xicon 'arrow-left' %}</a>
            {% endif %}
        </div>

        <div class="col-sm-18 col-xs-24">
            <h1>
                {{ page.title }}
            </h1>

            <div class="separator"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked border">
                {% for p in pages %}
                    <li {% if p.get_absolute_url == request.get_full_path %}class="active"{% endif %}>
                        <a href="{{ p.get_absolute_url }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="gap-30"></div>
            {% include 'catalog/include/super_4.html' %}
        </div>

        <div class="col-sm-18">
            <div class="content">
                {{ page.content|safe }}
            </div>

            <div class="gap-10"></div>
            {% if page.pageimage_set.all %}
                <div class="separator"></div>
                <div class="row">
                    {% for img in page.pageimage_set.all %}
                        <div class="col-xs-12 col-sm-8">
                            <a href="{{ img.image|xthumbnail:'1920;1080;wtm' }}" class="fancybox thumbnail" rel="1"
                               alt="{{ img.title }}">
                                <img src="{{ img.image|xthumbnail:'350;350;fix' }}" alt=""/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="separator"></div>
            {% endif %}
        </div>
    </div>

{% endblock %}