/*красный #ed1c24 */

/*logo*/
header > .container {
    background: #ffffff;
    padding: 0;
    position: relative;
    /*border-bottom: 4px solid #ed1c24;*/
    border-bottom: 4px solid #c6181e;
}
header .logo{
    float: left;
    padding: 25px 30px;
    position: relative;
}

    header .logo a img{

    }


/*main menu*/
header  .container nav {
    float: right;
    position: absolute;
    bottom: -4px;
    right: 20px;
}
    header  .container nav .main-menu {
        margin-bottom: 0;
    }
    header  .container nav .main-menu li {
        float: left;
    }
        header  .container nav .main-menu li a{
            display: inline-block;
            padding: 5px 12px;
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Calibri', 'PT Sans', sans-serif;
            color: #9a0000;
            font-weight: 400;
            border-bottom: 4px solid transparent;
        }
        header  .container nav .main-menu li a:hover, header  .container nav .main-menu li.active a{
            border-bottom: 4px solid #ffffff;
            text-decoration: none;
        }

header .contacts{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 10px;
    width: 700px;
    margin-right: 20px;
    margin-bottom: 30px;
}

header .contacts td {
    padding-bottom: 0!important;
}

header .languages {
    list-style-type: none;
    position: absolute;
    right: -55px;
    top: 20px;
    background: #ddd;
    border-radius: 2px;
}

header .languages a {
    padding: 5px;
    display: block;

}

header .languages li.active a {

}

header .languages a img {
    width: 45px;
    height: auto;
    opacity: .5;
    transition: .28s cubic-bezier(.4,0,.2,1);
}

header .languages li.active a img {
    opacity: 1;
}

header .languages a:hover {

}

header .languages a:hover img {
    opacity: 1;
    box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
}

/*promoblock*/
.promo .container {
    padding: 0;
}
.promo img {
    width: 100%;
}

/*toolbar*/
.toolbar {

}
    .toolbar .container {
        padding: 10px 15px;
        background-color: #ed1c24;

background: #ed1c24; /* Old browsers */
background: -moz-linear-gradient(top,  #ed1c24 0%, #ce0000 46%, #ce0000 51%, #ed1c24 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed1c24), color-stop(46%,#ce0000), color-stop(51%,#ce0000), color-stop(100%,#ed1c24)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed1c24 0%,#ce0000 46%,#ce0000 51%,#ed1c24 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed1c24 0%,#ce0000 46%,#ce0000 51%,#ed1c24 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed1c24 0%,#ce0000 46%,#ce0000 51%,#ed1c24 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ed1c24 0%,#ce0000 46%,#ce0000 51%,#ed1c24 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#ed1c24',GradientType=0 ); /* IE6-9 */


    }

    .toolbar .container .phone {
        color: #ffffff;
        font-size: 20px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        margin-right: 0px;
        font-weight: 200;
    }

    .toolbar .container .phone > span {
        font-weight: 400;
    }

    .toolbar .container .btn {
        background: #333;
        font-size: 12px;
        position: relative;
        padding: 8px 30px;
        border: 0;
        cursor: pointer;
        border-radius: 2px;
        text-transform: uppercase;
        text-decoration: none;
        transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
        outline: none!important;
    }
    .toolbar .container .btn:hover {
        box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);

    }

    .toolbar .container .social {
        float: right;
    }

    .toolbar .container .social a {
        color: #ffffff;
        font-size: 20px;
        display: inline-block;
        transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
        outline: none!important;
        background: transparent;
        border-radius: 100%;
        background: #ffffff;
        color: #333;
        width: 35px;
        height: 35px;
        padding: 6px 8px;
        margin-left: 10px;
    }

    .toolbar .container .social a:hover {
        box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
        text-decoration: none;
    }



.thumbnail {
    border-radius: 0px;
    margin-bottom: 10px;
    border-color: #ddd;
}

.thumbnail:hover {
    border-color: #eb6d00 !important;
}

.panel {
    border: 1px solid #2976bb;
    border-radius: 2px;
    background: #f6f6f6;
    padding: 20px;
    padding-bottom: 10px;
}

.breadcrumb {
    background: none;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
}


.btn {
    border-radius: 2px;
    transition: .28s cubic-bezier(.4,0,.2,1);
}
.btn:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
}

.btn-default {

}

.btn-default:hover {

    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus {
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    background: #414141;
    border: 0;
}

.btn-primary:hover {
    background: #333;
    border: 0;
}

.btn-primary:focus {
    background: #333;
    border: 0;
}

/*footer-menu*/
footer > .container > .row .col-xs-6 {
    border-right: 1px solid #808080;
}
footer > .container > .row .col-xs-6:last-child {
    border-right: none;
}

.footer-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;

}
    .footer-menu li {

    }
        .footer-menu li a {
            display: inline-block;
            font-size: 14px;
            text-transform: uppercase;
            color: #ccc;
            font-family: 'Calibri', 'PT Sans', sans-serif;
        }

.footer-menu-news {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;

}
    .footer-menu-news li {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1;
        color: #ccc;
        font-family: 'Calibri', 'PT Sans', sans-serif;
    }
        .footer-menu-news li a {
            display: inline-block;
            font-size: 14px;
            line-height: 1;
            color: #ccc;
            font-family: 'Calibri', 'PT Sans', sans-serif;
        }

.footer-all-news {

}
.footer-all-news:hover {
    color: #ffffff;
}

/*address*/
footer .address {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    font-weight: 300;
    line-height: 1.5;
}

/*footer social*/
footer .social {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    color: #ffffff;
}
footer .social a {
    font-size: 20px;
    display: inline-block;

    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    outline: none!important;
    border-radius: 100%;
    background: #808080;
    color: #ffffff;
    width: 35px;
    height: 35px;
    padding: 6px 8px;
    margin-left: 5px;
}

footer .col-xs-6 {
    min-height: 110px;
}

footer .social a:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
    text-decoration: none;
}

/*triggers*/
.triggers {

}
    .triggers h2 {
        font-size: 17px;
        /*background: #727272;*/
        color: #ffffff;
        padding: 4px 10px;
        text-transform: uppercase;
        background-color: rgba(91, 91, 91, 0.6);
        background-image: url(../img/black-linen-2.png);
        border-radius: 2px;
        font-weight: 400;
        font-family: 'Calibri', 'PT Sans', sans-serif;
    }

    .triggers p {
        font-size: 16px;
        text-align: left;
        /*color: #ffffff;*/
        line-height: 1.2;
        font-weight: 300;
    }

/*in h2 link*/
h2 a.main-header {
    color: #555555;
    font-style: italic;
    float: right;
    display: inline-block;
    height: 100%;
    color: #ffffff;
    padding: 3px 10px;
    text-transform: uppercase;
    background-color: rgba(91, 91, 91, 0.6);
    background-image: url(../img/black-linen-2.png);
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    outline: none!important;
}
    h2 a.main-header:hover {
        text-decoration: none;
        box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19);
    }

.micro {
    border-radius: 5px;
    transition: .28s cubic-bezier(.4,0,.2,1);
    border-top: 4px solid #ddd;
    margin-bottom: 10px;
    background: #ffffff;
}

.micro:hover {
    border-color: rgba(154, 0, 0, 0.67);
}

.micro .codename {
    text-transform: uppercase;
    position: absolute;
    /*bottom: auto;*/
    right: 0;
    padding: 0px 10px;
}


.micro img{
    width: 100%;
}

.micro tr:first-child td{
    transition: .28s cubic-bezier(.4,0,.2,1);
    border-top-width: 0px;
    border: none;
}

.micro:hover tr:first-child td{
    border-top-width: 0px;
    border-color: rgba(154, 0, 0, 0.67);
    border: none;
}

.price {
    color: rgba(154, 0, 0, 0.67);
    font-family: 'Calibri', 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #ffffff;
    font-size: 18px;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    outline: none!important;
}

.price del{
    color: #555;
    text-shadow: none;
    font-size: 16px;
}


/*search form*/
.search {
    background: #ffffff;
    border-top: 4px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    transition:  .28s cubic-bezier(.4,0,.2,1);
    border-radius: 5px;
}

.search .btn-sm{
    background: #ed1c24;
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 10px;
}

.search:hover {
    border-color: rgba(154, 0, 0, 0.67);
}

.search input[type=text] {
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 3px 5px;
    outline: none;
    transition:  .28s cubic-bezier(.4,0,.2,1);
}

.search input[type=text]:focus {
    border-color: rgba(154, 0, 0, 0.67);
}

.multiselect-header, .multiselect-header-top {
    padding: 3px 3px 2px 3px;
    text-transform: uppercase;
    font-size: 10px;
    color: #ffffff;
    background-color: rgba(91, 91, 91, 0.6);
    /*background-image: url(../img/black-linen-2.png);*/
    text-align: center;
    border-radius: 5px;
}

.multiselect-header-top {
    font-size: 12px;
    background: rgba(154, 0, 0, 0.67);
    background: #C34542;
    background: #ed1c24;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
}

#amount {
    color: rgba(154, 0, 0, 0.67);
    font-family: 'Calibri', 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #ffffff;
    font-size: 18px;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    outline: none!important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 2px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 2px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 2px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3/*{borderColorDefault}*/;
  background: #e6e6e6;
  font-weight: normal/*{fwDefault}*/;
  color: #555555/*{fcDefault}*/;
  outline: none;
  cursor: pointer
}

.search .checkbox-inline {
    margin-left: 0;
    margin-right: 15px;
}

/*panel*/
.lpanel {
    background: #ffffff;
    border-top: 4px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    transition:  .28s cubic-bezier(.4,0,.2,1);
    border-radius: 5px;
}
.lpanel:hover {
    border-color: rgba(154, 0, 0, 0.67);
}

.filter_tab {
    width: 100%;
}

.btn-filter {
    width: 100%;
}

.filter_tab .btn{
    width: 50%;
}

.lpanel .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
    color: #555555;
}

.lpanel .special > li > a {
    color: rgba(154, 0, 0, 0.67);
}


/*catalog*/
.catalog-item {
    padding: 15px 15px;
}
.catalog-item h3{
    margin-top: 0;
}
.catalog-item h3 a {
    color: #555;
}

.catalog-item .is-sold {
    /*color: #555;*/
    /*text-decoration: none;*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*right: 20px;*/
    /*background: #C34542;*/
    /*padding: 5px 10px;*/
    /*text-transform: uppercase;*/
    /*color: #ffffff;*/
    /*box-shadow:  3px 3px 0px #ddd;*/
    /*font-size: 16px;*/

    position: absolute;
    top: 0px;
    left: 10px;

    width: 0;
    height: 0;
    border-top: 80px solid #333;
    border-right: 80px solid transparent;
}
    .catalog-item .is-sold span{
        position: absolute;
        top: -58px;
        left: 2px;

        color: #555;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;

        -moz-transform: rotate(-45deg); /* Для Firefox */
        -ms-transform: rotate(-45deg); /* Для IE */
        -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-45deg); /* Для Opera */
        transform: rotate(-45deg);
    }


.catalog-item .discount {
    position: absolute;
    top: 0px;
    left: 10px;

    width: 0;
    height: 0;
    border-top: 80px solid #ed1c24;
    border-right: 80px solid transparent;
}
    .catalog-item .discount span {
        position: absolute;
        top: -60px;
        left: 4px;

        color: #555;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 14px;

        -moz-transform: rotate(-45deg); /* Для Firefox */
        -ms-transform: rotate(-45deg); /* Для IE */
        -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(-45deg); /* Для Opera */
        transform: rotate(-45deg);
    }

.catalog-item .codename {
    font-size: 15px;
    display: inline-block;
    padding: 1px 10px;
    bottom: 2px;
}

/*image-gallery*/
.image-gallery {
    position: relative;
    height: 446px;
    overflow: hidden;
}
.image-gallery a {
    opacity: 0.5;
    transition:  .28s cubic-bezier(.4,0,.2,1);
}
.image-gallery a.active, .image-gallery a:hover {
    opacity: 1;
}

.gallery-control {
    position: absolute;
    top: 205px;
    font-size: 48px;
    color: #ffffff;
    opacity: .4;
    transition:  .28s cubic-bezier(.4,0,.2,1);
}

.gallery-control:focus {
    color: #ffffff;
}
.gallery-control:hover {
    color: rgba(154, 0, 0, 0.67);
}

.col-xs-20:hover > .gallery-control {
    opacity: 1;
}

.gallery-control.left {
    left: 30px;
}

.gallery-control.right {
    right: 30px;
}

.codename {
    background: #333;
    border-radius: 2px;
    padding: 3px 10px ;
    font-size: 18px;
    /*display: inline-block;*/
    bottom: 4px;
    /*height: 100%;*/
    /*margin-top: -2px;*/
    position: relative;
    text-shadow: none;
    color: #ffffff;
    background-color: rgba(91, 91, 91, 0.6);
    background-image: url(../img/black-linen-2.png);
}


/*aticle*/
.article-widget {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
}
.article-widget li:hover {
    background: #eee;
}

.article-widget a {
    display: inline-block;
    padding: 5px 10px;
    color: #555;
    line-height: 1.1;
    font-weight: 300;
}

.article-widget a:hover {
    text-decoration: none;
}

.article-widget li.active a {
    color: rgba(154, 0, 0, 0.67);
    font-weight: 400;
}


/*banner*/
.banner a {
    position: relative;
    display: block;
}
.banner img {
    width: 100%;
    border: 2px solid #ed1c24;
    border-radius: 5px;
}
.banner .mask {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /*, 15px 15px 25px 15px rgba(201, 201, 201, 0.82) inset*/
    box-shadow:  -5px -5px 10px 5px rgba(105, 105, 105, 0.33) inset, 5px 5px 10px 5px rgba(235, 235, 235, 0.31) inset;
}

/*submenu*/
.submenu {

}

.submenu .special-link {
    color: rgba(154, 0, 0, 0.67);

}