/*uncomment this to fix footer to bottom */
* {
    margin: 0;
    padding: 0;
}
html {height: 100%;}

body {
    min-height: 100%;
    position: relative;
    background: url('../img/bg.jpg') no-repeat center fixed;
}

header {
}

.container {
    width: 1170px !important;
}

body > .container {
    position: relative;
    /*padding: 0 30px;*/
    padding-bottom: 245px;
    background: #e4eff0;
}

footer {
    min-height: 55px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a{
	color: white;

}

footer > .container{
    padding-top: 20px;
    border-top: 4px solid #c6181e;
    /*background: #5b5b5b;*/
    height: 230px;
    background-color: rgba(91, 91, 91, 0.8);
    background-image: url(../img/black-linen-2.png);
}

