/*like a typography*/
body {
    color: #414141;
    /*font-family: 'Arsenal';*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Calibri','Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    /*font-weight: 300;*/
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #eb6d00;
    color: #9a0000;
    color: rgba(154, 0, 0, 0.67);
    font-family: 'Calibri', 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #ffffff;
    position: relative;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    /*font-family: 'PT Sans', sans-serif;*/
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
}
	
h3 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.3;
}

h3.micro{
	margin-top: 0;
}

h4 {
	font-weight: normal;
	margin-top: 0;
}


.gap-5 {
    height: 5px;
}
.gap-10 {
    height: 10px;
}

.gap-20 {
    height: 20px;
}

.gap-30 {
    height: 30px;
}

.gap-40 {
    height: 40px;
}

.no-margin{
	margin: 0;
}

p {
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
    color: #444;
}

small p{
	font-size: 14px;
}

a {
    /*color: #0063ba;*/
}

a:hover {
    /*color: #eb6d00;*/
    text-decoration: underline;
}

br.clear {
    clear: both;
}

br.clearfix {
    clear: both;
}

textarea {
    height: 100px;
}

textarea.form-control {
    height: 100px;
}

hr {
    border-top: 1px solid #c2c2c2;
}

blockquote{
	border-color: #C34542;
	/*background: white;*/
}

    blockquote.blue{
        border-color: #2976bb;
    }

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0px !important;
    border: 0 !important;
    /*background: none !important;*/
}

ul {
    list-style-position: inside;
}