{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'Отзывы' %}</h1>

    {% for item in object_list %}

        <div class="lpanel response" style="padding: 10px">
            <h2>{{ item.title }}</h2>
            <em><span class="glyphicon glyphicon-hand-right"></span> {{ item.person }}</em>
            <hr/>
            {{ item.text|safe }}
        </div>
        <div class="gap-20"></div>
    {% empty %}
        <blockquote>{% trans 'Пока отзывов не добавлено' %}!</blockquote>
    {% endfor %}

    {{ paginator.render }}
{% endblock %}