{% load xendor_tags %}

<ul class="nav">
    {% for node in menu.nodes %}
        <li {% if node.active %}class="active"{% endif %}>
            <h5><a href="{{ node.url }}">{{ node.title|safe }} <span class="pull-right">{{ node.parameters.count }}</span></a></h5>
            {% if node.children %}
                {% level_menu node.children 'catalog/menu/city-level.html' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
