{% load xendor_tags %}

<ul class="nav ">
    {% for node in nodes %}
    <li {% if node.active %}class="active"{% endif %}>
		<a href="{{ node.url }}">{{ node.title|safe }} <span class="pull-right">{{ node.parameters.count }}</span></a>
        {% if node.children %}
            {% level_menu node.children %}
        {% endif %}
    </li>
    {% endfor %}
</ul>