{% load xendor_tags i18n %}
{% if path|length > 0 %}
    <ul class="breadcrumb">
        <li>{% xicon 'home' %} <a href="/">{% trans 'Главная' %}</a></li>

        {% for item in path %}
            {% if item.in_menu %}
                <li>
                    {% if not forloop.last %}
                        <a href="{{ item.url }}">{{ item.title|safe }}</a>
                    {% else %}
                        {{ item.title|safe|truncatechars:"50" }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}