{% load xendor_tags %}
<ul class="main-menu list-unstyled">
    {% for node in menu.nodes %}
		<li {% if node.active %}class="active"{% endif %}>
        	<a href="{{ node.url }}" >{{ node.title|safe }}</a>
        </li>
    {% endfor %}
</ul>
