{% load xendor_tags catalog_tags i18n %}
<div class="row lpanel">
    <div class="col-xs-24">
        <div class="btn-group filter_tab">
            <a href="#sale" class="btn btn-default" data-toggle="tab">{% trans 'Продажа' %}</a>
            <a href="#rent" class="btn btn-default" data-toggle="tab">{% trans 'Аренда' %}</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane {% if rent %}{% else %}active{% endif %} sale-filter filter" id="sale">
                <div class="gap-10"></div>

                <h3>{% trans 'Тип недвижимости' %}</h3>
                <ul class="nav special">
                    <li>
                        <a href="{% url 'catalog-special-sale' %}" class="">{% xicon 'star' %} {% trans 'Спецпредложения' %}</a>
                    </li>
                </ul>
                {% menu 'parent=catalog-sale;menu_type=type' 'catalog/menu/type.html' %}
                <div class="gap-5"></div>
        {#	    {% menu 'parent=catalog-sale;menu_type=city;deep=2;show_children' 'catalog/menu/city.html' %}#}
                <div class="gap-10"></div>
                <div class="text-center">
                    <a href="{% url 'catalog-sale' %}" class="btn btn-sm btn-default btn-filter">{% trans 'Все объекты продажи' %}</a>
                </div>
                <div class="gap-5"></div>
            </div>
            <div class="tab-pane {% if rent %}active{% else %}{% endif %} rent-filter filter" id="rent">
                <div class="gap-10"></div>
                <h3>{% trans 'Тип недвижимости' %}</h3>
                <ul class="nav special">
                    <li>
                        <a href="{% url 'catalog-special-rent' %}">{% xicon 'star' %} {% trans 'Спецпредложения' %}</a>
                    </li>
                </ul>
                {% menu 'parent=catalog-rent;menu_type=type' 'catalog/menu/type.html' %}
                <div class="gap-10"></div>
                <div class="text-center">
                    <a href="{% url 'catalog-rent' %}" class="btn btn-sm btn-default btn-filter">{% trans 'Все объекты аренды' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>