{% load xendor_tags catalog_tags i18n %}

<div class="row">
    <div class="col-xs-24">
        {% for item in object_list %}
            <div class="lpanel catalog-item" style="">
                <h3>
                    <span class="codename">id: {{ item.codename }}</span>
                    <a href="{{item.get_absolute_url}}" class="">{{item.title}}</a>
                </h3>

                <div class="row">
                    <div class="col-xs-12" style="position: relative;">

                        <a href="{{ item.get_absolute_url }}" class="">
                            <img src="{{ item.image|xthumbnail:'500;300;fix' }}" alt="" style="width: 100%"/>
                            {% if item.is_sold %}
{#                                <span class="is-sold"><span>Продано</span></span>#}
                                <span class="discount"><span>{% trans 'Продано' %}</span></span>
                            {% endif %}

                            {% if item.price_sale_discount or item.price_rent_discount %}
                                <span class="discount"><span>{% trans 'Скидка' %}!</span></span>
                            {% endif %}
                        </a>

                    </div>
                    <div class="col-xs-12">
                        <table width="100%" class="table table-bordered" style="margin-bottom: 10px;">
                            <tr>

                                <td>
                                    <a href="{{ item.region.city.get_absolute_url}}">{{item.region.city}}</a>
                                    /
                                    <a href="{{ item.region.get_absolute_url}}">{{ item.region.name }}</a>
                                </td>
                                <td><a href="{% url 'catalog-objects-by-type' item.type.slug %}">{{item.type}}</a></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="price">
                                    {% if not item.deal == 'rent' %}
                                        <div class="big money">
                                            {% if item.price_sale_discount %}
                                                <i class="el-icon-eur"></i>&nbsp;{{item.price_sale_discount|x1000}}
                                                <del class="">{{item.price_sale|x1000}}</del>
                                            {% else %}
                                               <i class="el-icon-eur"></i>&nbsp;{{item.price_sale|x1000}}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if not item.deal == 'sale' %}
                                        <div class="big money">
                                            <i class="el-icon-eur"></i>
                                            {% if item.price_rent_discount %}
                                               {{item.price_rent_discount|x1000}}
                                               <span>
                                                   {% if item.rent_time == 'month' %}/&nbsp;{% trans 'месяц' %}{% elif item.rent_time == 'day' %}/&nbsp;{% trans 'сутки' %}{% else %}/&nbsp;{% trans 'неделя' %}{% endif %}
                                               </span>
                                               <del class="">{{item.price_rent|x1000}}</del>
                                            {% else %}
                                               {{item.price_rent|x1000}}
                                               <span>
                                                   {% if item.rent_time == 'month' %}/&nbsp;{% trans 'месяц' %}{% elif item.rent_time == 'day' %}/&nbsp;{% trans 'сутки' %}{% else %}/&nbsp;{% trans 'неделя' %}{% endif %}
                                               </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>


                        <p>{{item.short_description|truncatechars:200}}</p>

                    </div>
                </div>
            </div>
            <div class="gap-20"></div>

        {% empty %}
            <blockquote>{% trans 'Список объектов пуст' %}</blockquote>
        {% endfor %}
    </div>
</div>


{{ paginator.render }}