{% load xendor_tags i18n %}
<div class="col-xs-8">
    <div class="micro">
        <table class="table" style="">
            <tr>
                <td style="position: relative;">
                    <a href="{{item.get_absolute_url}}" class="" style="margin-bottom: 0">
                        <img src="{{ item.image|xthumbnail:'250;130;fix' }}"/>
                        <span class="codename">id: {{ item.codename }}</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    {{ item.title|truncatechars:50 }}
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'catalog-city' item.region.city.slug %}" title="{{ item.city }}">
                        {{ item.region.city|truncatechars:15 }}</a> /
                    <a href="{% url 'catalog-objects-by-type' item.type.slug %}" title="{{ item.type }}">
                        {{ item.type|truncatechars:15 }}</a>
                </td>
            </tr>
            <tr>
                <td class="price">
                    {% if not item.deal == 'rent' %}
                        <div class="">
                            {% if item.price_sale_discount %}
                                <del class="pull-right">{{ item.price_sale|x1000 }}</del>
                                <i class="el-icon-eur"></i>&nbsp;{{ item.price_sale_discount|x1000 }}
                            {% else %}
                                <i class="el-icon-eur"></i>&nbsp;{{ item.price_sale|x1000 }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if not item.deal == 'sale' %}
                        <div class="">
                            <i class="el-icon-eur"></i>
                            {% if item.price_rent_discount %}
                               {{ item.price_rent_discount|x1000 }}
                               <span>
                                   {% if item.rent_time == 'month' %}/&nbsp;{% trans 'месяц' %}{% else %}/&nbsp;{% trans 'неделя' %}{% endif %}
                               </span>
                               <del class="pull-right">{{ item.price_rent|x1000 }}</del>
                            {% else %}
                               {{ item.price_rent|x1000 }}
                               <span>
                                   {% if item.rent_time == 'month' %}/&nbsp;{% trans 'месяц' %}{% else %}/&nbsp;{% trans 'неделя' %}{% endif %}
                               </span>
                            {% endif %}
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>