{% load xendor_tags catalog_tags i18n %}

<div class="row search">
    <div class="col-xs-24">
    <h2><span class="el-icon-search-alt" aria-hidden="true" style="color: #C34542; font-size: 30px; position: relative; bottom: -5px;"></span> {% trans 'Поиск' %}</h2>

        <form action="{% url 'catalog-search' %}" class="search-form">
            <input type="text" placeholder="{% trans 'ID ОБЪЕКТА ИЛИ СЛОВО' %}" name="s" {% if request.GET.s %}value="{{ request.GET.s }}"{% endif %}/>
            <div class="gap-10"></div>
            <div class="control">
                <div class='multiselect-header-top'><span class='glyphicon glyphicon-th-list' aria-hidden='true'></span> {% trans 'Тип сделки' %}</div>
                <div class="gap-5"></div>
                <label class="checkbox-inline">
                    <input type="checkbox" value="rent" name="deal_type" {% if not deal_type or 'rent' in deal_type %}checked{% endif %}> {% trans 'Аренда' %}
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="sale" name="deal_type" {% if not deal_type or 'sale' in deal_type %}checked{% endif %}> {% trans 'Продажа' %}
                </label>
            </div>

            <div class="gap-10"></div>
            <div class="control">
                {% catalog_sleeping_rooms as sleeping_rooms %}
                <div class='multiselect-header-top'><span class='glyphicon glyphicon-th-list' aria-hidden='true'></span> {% trans 'Количество спален' %}</div>
                <div class="gap-5"></div>
                {% for room in sleeping_rooms %}
                    <label class="checkbox-inline">
                        <input type="checkbox" value="{{ room.0 }}" name="sleeping_room" {% if room.0 in rooms %}checked{% endif %}> {{ room.1 }}
                    </label>
                {% endfor %}
            </div>

            <div class="gap-10"></div>
            <div class="control">
                <select name="type" id="type" multiple class="multiselect" htitle="{% trans 'Тип объекта' %}">
                    {% catalog_types as types %}
                    {% for type in types %}
                        <option value="{{ type.pk }}" {% if type.pk in typies %}selected{% endif %}>{{ type }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="gap-10"></div>
            <div class="control">
                {% catalog_cities as cities %}
                <select name="region" id="city" multiple class="multiselect" htitle="{% trans 'Расположение' %}">
                    {% for city in cities %}
                        <optgroup label="{{ city }}">
                            {% for region in city.get_regions %}
                                <option value="{{ region.pk }}" {% if region.pk in regions %}selected{% endif %}>{{ region.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

            <div class="gap-10"></div>
            <div class="control">
                <div class='multiselect-header-top'><span class='glyphicon glyphicon-th-list' aria-hidden='true'></span> {% trans 'Диапазон цен' %}</div>
                <div class="gap-5"></div>
                <input type="text" id="amount" readonly style="border:0;  background: transparent">
                <input type="hidden" id="price_low" name="price_low" value="{{ request.GET.price_low|default:'0' }}"/>
                <input type="hidden" id="price_high" name="price_high" value="{{ request.GET.price_high|default:'1500000' }}"/>
                <div class="gap-5"></div>
                <div id="slider-range"></div>
            </div>
            <div class="gap-10"></div>
            <div class="gap-5"></div>
            <input type="submit" value="{% trans 'Искать' %}" class="btn btn-sm btn-default" style="width: 100%;"/>
        </form>
    </div>

</div>
