{% load xendor_tags i18n %}

{% if articles %}
    <div class="lpanel" style="padding: 10px; padding-bottom: 0;">
        <h2>{% trans 'Информация' %}</h2>

        <ul class="list-unstyled article-widget">
            {% for article in articles %}
                <li><a href="{{ article.get_absolute_url }}">{{ article }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="gap-20"></div>
{% endif %}