{% extends 'base.html' %}
{% load xendor_tags catalog_tags i18n %}

{% block content %}
    <div class="row">
        <div class="col-xs-1"></div>

        <div class="col-xs-10">
        	<div class="gap-20"></div>
            <h1>{% trans 'Оформление заявки' %}</h1>
            <div class="separator"></div>


            {% include 'catalog/_form.html' %}
        </div>
    </div>


    <div class="gap-30"></div>
{% endblock %}