<h1>На сайте {{ site_name }} была заполнена форма связи</h1>

<b>Персона:</b> {{ person }}<br />
<b>Телефон:</b> {{ phone }}<br />
<b>E-mail:</b> {{ mail }}<br />
<hr/>
<b>Комментарий:</b> {{ comment }}
<hr />
<b>Ссылка на объект:</b> http://bravoinvest.ru{{ item.get_absolute_url }}
