
<div class="row panel well {{ deal }}">
    <div class="col-sm-4">
        <h4 class="micro">Расположение</h4>
        <select class="form-control">
            <option value="0">Район</option>
            {% for region in regions %}
                <option value="{{ region.pk }}">{{ region }}</option>
            {% endfor %}
        </select>
        <div class="gap-5"></div>
        <div class="chosentree"></div>
    </div>
    <div class="col-sm-4">
        <h4 class="micro">Объект</h4>
        <select class="form-control">
            <option value="">Тип недвижимости</option>
            {% for type in types %}
                <option value="{{ type.pk }}">{{ type }}</option>
            {% endfor %}
        </select>
        <div class="gap-5"></div>
        <select class="form-control">
            <option value="">Количество спален</option>
            {% for room in sleeping_rooms %}
                <option value="{{ room }}">{{ room }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <h4 class="micro">Цена</h4>
        <select class="form-control">
            <option value="">0 - 40,000 €</option>
        </select>
        <div class="gap-20"></div>
        <input class="btn btn-sm btn-primary pull-right" value="Поиск"/>
    </div>
    <br class="clear" />
    <div class="gap-5"></div>
</div>