<h1>На сайте {{ site_name }} была заполнена форма </h1>

<b>Персона:</b> {{ value.name }}<br />
<b>Телефон:</b> {{ value.phone }}<br />
<b>E-mail:</b> {{ value.mail }}<br />
<b>Тип:</b> {{ value.type }}<br />