{% extends 'base.html' %}
{% load xendor_tags catalog_tags %}


{% block content %}
	<div class="gap-10"></div>
	<div class="row">
		<div class="col-sm-7">
			<a href="{% url 'library-cities' %}" class="btn btn-primary btn-xs">{% xicon 'arrow-left' %}</a>
			<div class="gap-10 visible-xs"></div>
		</div>
		<div class="col-sm-17">
			<h1>
				{{ object }}
			</h1>
		    <div class="separator"></div>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-7">
            <ul class="nav nav-pills nav-stacked border">
            	{% catalog_cities as cities %}
                {% for p in cities %}
                    <li {% if p.get_absolute_url == request.get_full_path %}class="active"{% endif %}>
                        <a href="{{p.get_absolute_url}}">{{p}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="gap-20"></div>
            <a href="{{ object.image|xthumbnail:'1920;1080;wtm' }}" class="fancybox thumbnail">
                <img src="{{ object.image|xthumbnail:'800;800;blank' }}" alt=""/>
            </a>
            <div class="gap-30"></div>
        </div>

        <div class="col-sm-17">
        	<div class="content">
        		{{ object.description|safe }}
        	</div>
			<div class="gap-20"></div>
		    {% for tour in object_list %}
		        <div class="row">
		            <div class="col-sm-5" style="position: relative;">
		                <a href="{{ tour.get_absolute_url }}" class="thumbnail">
		                    <img src="{{ tour.image|xthumbnail:'290;290;fix' }}" style="width: 100%;" class="">
		                </a>
		            </div>
		            <div class="col-sm-19">
		            	<h2>
		            		<a href="{{ tour.get_absolute_url }}">{{ tour.name }}</a>
		            	</h2>
		                <p>{{ tour.short_description|safe }}</p>
		            </div>
		        </div>
		        {% if not forloop.last %}
		            <div class="gap-10"></div>
		        {% endif %}
		    {% endfor %}
			
		    {{ paginator.render }}

			<div class="gap-10"></div>
            {% if object.cityimage_set.all %}
                <div class="separator"></div>
		        <div class="row">
		            {% for img in object.cityimage_set.all %}
		                <div class="col-xs-12 col-md-4 col-sm-8">
		                    <a href="{{ img.image|xthumbnail:'1920;1080;wtm' }}" class="fancybox thumbnail" rel="1" alt="{{ img.title }}">
		                        <img src="{{ img.image|xthumbnail:'350;350;fix' }}" alt=""/>
		                    </a>
		                </div>
		            {% endfor %}
		        </div>
		        <div class="separator"></div>
		    {% endif %}        
		    
		    <a href="{% url 'catalog-objects-by-city' object.slug %}" class="btn btn-info pull-right">Смотреть объекты</a>
        </div>
    </div>
{% endblock %}

{% block links %}
<div class="gap-20"></div>
{% endblock %}

{% block filter %}
	<a href="{{object.image|xthumbnail:'1920;1080'}}" class="thumbnail fancybox">
		<img src="{{object.image|xthumbnail:'500;500'}}" alt="" />
	</a>
	<div class="gap-30"></div>
	{% include 'catalog/include/filter.html' %}
{% endblock %}

{% block center %}
	<h1>{{ object }}</h1>
	<div class="separator"></div>
	{{object.description|safe}}
{% endblock %}