{% extends 'base.html' %}
{% load xendor_tags i18n %}

{% block content %}
	<h1>{% trans 'Статьи о Турции' %}</h1>
	<div class="row news">
    {% for news in object_list %}
    	<div class="col-xs-12">
    		<div class="lpanel catalog-item" style="padding: 10px;">
		        <h3><a href="{{ news.get_absolute_url }}">{{ news }}</a></h3>
		        <div class="row">
		            <div class="col-xs-6" style="position: relative;">
		                <a href="{{ news.get_absolute_url }}" class="">
		                    <img src="{{ news.image|xthumbnail:'130;130;fix' }}" style="width: 100%">
		                </a>
		            </div>
		            <div class="col-xs-18">
		                <small>
		                	{{ news.anons|truncatewords_html:25 }}
		                </small>
		                <div class="gap-10"></div>
                        <a href="{{ news.get_absolute_url }}" class="pull-right btn btn-sm btn-primary">{% trans 'Читать далее' %} &rarr;</a>
			        </div>
		        </div>
	        </div>
        </div>
        {% if forloop.counter|divisibleby:2 and not forloop.last %}
        	</div>
	        	<div class="gap-20"></div>
        	<div class="row news">
        {% endif %}
    {% endfor %}
    </div>

    {{ paginator.render }}
    <div class="gap-10"></div>

{% endblock %}