{% load xendor_tags %}

{% if news_list %}
    <h1>{% fragment 'Новости' %}</h1>
    <div class="gap-30"></div>
    <div class="container">
    <div class="row">
        {% for news in news_list %}
            <div class="col-lg-2 col-md-4 col-sm-6">
                <p>
                    {% if news.link %}
                        <a href="{{ news.link }}" target="_blank"> {{ news|safe }}</a>
                    {% else %}
                        <a href="{% url 'news-index' %}#news-{{news.id}}">{{ news|safe }}</a>
                    {% endif %}
                </p>
                <div class="gap-30"></div>
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="mundi-nav-link visible-xs">
        <a href="{% url 'news-index' %}">{% fragment 'Все новости' %}</a>
    </div>
    <div class="mundi-nav-link hidden-xs">
        <a href="{% url 'news-index' %}" >{% fragment 'Все новости' %}</a>
    </div>
    <div class="gap-30"></div>
{% endif %}