{% load xendor_tags %}
<!-- ymaps.geocode('{% get_setting 'Адрес для яндекс-карт' %}', { results: 1 }).then(function (res) { -->

<script type="text/javascript">
	function initialize() {
	  	var res = 'http://maps.googleapis.com/maps/api/geocode/json?sensor=true&address={% get_setting 'Адрес офиса' %}';
	  	
	  	$.get(res, function(resultdata){
	  		var lat = resultdata.results[0].geometry.location.lat;
	  		var lng = resultdata.results[0].geometry.location.lng;
	  		
	  		var latlang = new google.maps.LatLng(lat, lng);
	  		
	  		var mapOptions = {
		      center: latlang,
		      zoom: 18
		    };
		    
		    var map = new google.maps.Map(document.getElementById("map-canvas"),
		        mapOptions);  
		        
		     // var image = 'images/image.png';  //можно вместо красного пузырика сделать флажок или котенка
		     var marker = new google.maps.Marker({
			      position: latlang,
			      map: map,
			      title: ''
			      //icon: image
			  });
			});
	};
	  
	google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div id="map-canvas" style="height: 400px"></div>